<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="cat '$(find fetch_description)/robots/fetch.urdf'" />  

  <param name="use_sim_time" value="true"/>

  <!-- Load hardware interface -->
  <node name="fetch_hardware_interface" pkg="isaac_sim_moveit" type="fetch_hardware_interface"
  respawn="false" output="screen" launch-prefix="$(arg launch_prefix)">
  </node>  

  <!-- Setup controllers -->
  <rosparam file="$(find isaac_sim_moveit)/config/ros_control_controllers.yaml" command="load" />

  <!-- Load the default controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false"
  output="screen" ns="/" args="spawn
            torso_controller
            head_controller
            arm_controller
            " />

  <!-- start the gripper controller -->
  <node pkg="isaac_sim_moveit" name="gripper_controller" type="gripper_action_server.py" />

  <!-- prepare the robot -->
  <node pkg="isaac_sim_moveit" name="prepare_robot" type="prepare_simulated_robot_pick_place.py" />  

</launch>
